@import './color'

.admin-table
    .el-table__column-filter-trigger i
        color #fff
    .el-table__header-wrapper
        th
            border-left 2px solid color-lightblue
            color #fff
            background-color color-main
            &:first-child
                border-left 0
            .cell
                font-weight 500

    .el-table__row
        td
            border-bottom 0

    .opr
        span
            cursor pointer

    &~.el-pagination
        margin-top 20px
        text-align right
