@import './color'

.admin-list-pass
    margin-bottom 20px
    >*
        margin-right 10px
    .el-select
        width w=120px
        .el-input
            width w
    .el-input
        width 200px
        vertical-align middle
        .el-input-group__prepend
            width 80px
            padding 0
            text-align center
    .el-date-editor
        width 240px
.el-autocomplete-suggestion
    li
        color color-main
        border-bottom 1px solid color-main

.admin-form
    .ellipse
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .select-file.is-disabled .el-input__inner
        background-color #fff
        color #aaa
        border-color color-main
        cursor pointer

    .el-input-group
        width auto
        .area-cascader-wrap,
        .area-select-wrap,
        .el-select
            display inline-block
            width calc(100% - 141px)
            .area-select
                box-sizing border-box
                width 100%
                height 32px
                margin-left 0 !important
                border-radius 0
    .select
        >span
            vertical-align bottom !important
    .time
        display inline-block
        font-size 0 !important
        .time-span
            box-sizing border-box
            display inline-block
            height h=32px
            width 140px
            line-height h
            padding-left 20px            
            vertical-align top
            font-size 14px
            border 1px solid color-main
            background-color color-main
            color #fff
            &+.el-input
                width calc(100% - 141px)

        &.select.double-width
            width calc((100% - 41px) / 1.5 + 20px) !important
            &+.el-input-group
                margin-right 0
        &.radio
            line-height 37px
            >span
                box-sizing border-box
                display inline-block
                vertical-align bottom
                width 140px
                padding-right 20px
                padding-left 20px
                font-size 14px
            .el-radio+.el-radio
                margin-left 10px
        .el-autocomplete
            width calc(100% - 141px)
    .block
        display table
    .border-main
        border 1px solid color-main
        border-top 0
        padding 10px

    .card-title
        margin 0
        padding 10px 0
        text-align center
        font-size 15px
        background-color color-main
        color #fff

    .form-summary
        font-size 0
        .el-input-group
            width calc((100% - 41px) / 3)
            vertical-align bottom
            margin-top 10px
            margin-right 20px
            font-size 14px
            &.double-width
                width calc((100% - 41px) / 1.5 + 20px)
                .time-span
                    width 250px
                .el-input
                    width calc(100% - 251px)
            &.mr
                margin-right 0

    .input-text,
    .input-select
        overflow hidden
        .label
            float left
            width 100px
            color #fff
            font-size 15px
            background-color color-main
            border 1px solid color-main
            outline 0

    // 具体信息
    .card
        margin-top 20px
        .card-title
            text-align left
            padding-left 2em
        .card-item
            display inline-block
            vertical-align top
            width 49%
            .el-input--small
                margin-top 10px
                &.input-days
                    width 30px
                    margin-right 5px
                    input
                        width 30px
                        padding 0 2px
            >span:last-child
                display block
                margin 10px 0
        .el-textarea__inner
            min-height 100px !important
            border-top-left-radius 0
            border-top-right-radius 0
            border-color color-main

    // 提交
    .admin-submit
        margin-top 15px
        font-size 0
        .el-input
            width calc((100% - 41px) / 3)
            min-width 200px
            margin-right 20px
            &:last-child
                margin-right 0
    .admin-send
        margin-top 10px
        text-align center
        .el-button
            padding 10px 20px
            border-radius 0
