@import './color'

.xipu-container
    width 80%
    margin 0 auto
    color color-main
    text-align center
    >h2
        font-size 24px
    .bread-wrapper
        border 1px solid color-main
        height 45px
        position relative
        margin 15px 0
        .el-breadcrumb
            position absolute
            top 0
            bottom 0
            line-height 45px
            padding-left 20px
            span[role="link"]
                color color-main
