@import './color'

.login-main
    background-color color-main
    // padding-bottom 15px
    .head_title
        padding-top 80px
        text-align center
        .login_title
            text-align center
            font-size 18px
            font-weight bold
            margin 0
            margin-top -20px
            color #fff

    .box
        width 420px
        background-color #fff
        margin 0 auto
        margin-top 25px
        >p
            color color-main
            text-align center
            font-size 1.5em
            padding-top 5%

    .demo-ruleForm
        width 100%
        margin-left 5%
        padding-bottom 5px
        .el-form-item__content
            .el-input,
            .el-button
                width 90%
                min-width 150px